*{
	margin: 0;
	padding: 0;
	text-decoration:none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	list-style: none;

}
/***********************HIDE N SHOW OF HEADER**********************************/
#goodnews{
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	height: 100%;
	width:100%;
	background-color: #0007;
}
#talk{
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	height: 100%;
	width:100%;
}
.content_header{
	position: fixed;
	top: 105px;
	left: 0;
	display: flex;
	justify-content: end;
	width: 100%;
	height: 100px;
	padding: 5px;
	background-color: white;
}
.inf_header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 100%;
}
.headering{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	height: 30px;
}
.header1{
	display: flex;
	justify-content: center;
	padding: 5px;
	border-radius: 10px;
	background-color: aqua;
	box-shadow: 4px 4px 1px #ccc;
	cursor: pointer;
}
.header1 p{
	font-size: 14pt;
	color: white;
}

.header1{
	display: flex;
	justify-content: center;
	width: 10%;
	height: 40px;
	padding: 5px;
}
.header2 p{
	font-size: 14pt;
}
.link_headering{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.link_headering b{
	font-size: 14pt;
	color: #000;
}
.link_headering img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 2px solid;
	border-top-color: aqua;
	border-right-color: aqua;
	border-left-color: aqua;
	border-bottom-color: aqua;
	margin-left: 6px;
}
.second_section_header{
	position: absolute;
	top: 110px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: white;
}
.chat_run{
	position: relative;
	width: 85%;
	height: 100%;
	background-color: white;
	box-shadow: 2px 3px 4px #ccc;
	border: 1px solid#ccc;
	border-radius:0px 10px;
}
.chat_header{
	position: static;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 6%;
	border-radius: 0px 10px 0px 0px;
	box-shadow: 3px 2px 5px #ddd;
	z-index: 100;
}
.friend-on{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}
.friend_on{
	font-size: 25pt;
	font-weight: bold;
}
.member_only{
	color: #ccc;
}
.facetoface{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
}
.chat_icon_header{
	display: flex;
	align-items: center;
	padding: 4px;
	font-size: 18pt;
	width: 30px;
	height: 30px;
}
.conversation{
	height: 70%;
	padding: 12px;
	overflow: auto;
}
.footer_header{
	position: absolute;
	left: 80px;
	bottom: 200px;
	display: flex;
	align-items: center;
	width: 90%;
	height: 88px;
	border-top: 2px solid #ddd;
	background-color: white;
	z-index: 1;
}
.form_chat{
	display: flex;
	width: 100%;
}
.input_chat{
	font-size: 16px;
	border: none;
	width: 93%;
	height: 50px;
}
.input_chat::placeholder{
	color: #0007;
}
.react_chat{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 5%;
}
.chat_icon{
	font-size: 18px;
	color: #0007;
}
.send_button_chat{
	width: 3%;
	background-color: transparent;
	color: aqua;
}
.list_of_friends{
	width: 15%;
	height: 100%;
	border: none;
	background-color: white;
	overflow: auto;

}
#hot_chat{
	padding: 10px;
	overflow: auto;
 }
.amigo_chat{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2px;
	margin-bottom: 3px;
	border: 1px solid#ccc;
	border-radius: 5px;
	cursor: pointer;
  }
.amigo_chat:hover{
	background-color: #ccc;
	width: 94%;
	margin: auto;
	transition: 1ms ease-in;
}
.amigo_chat img{
	width: 50px;
	height: 50px;
	border: 1px solid#ccc;
	border-radius: 50%;
  }
.amigo_chat h5{
	font-size: 12pt;
	color: black;
  }
  
#havefun{
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	height: 100%;
	width:100%;
	background-color: #0007;
}
#global{
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	height: 100%;
	width:100%;
	background-color: #0007;
}

/***********************HIDE N SHOW OF CONTENT-LEFT**********************************/
#follow{ 
	position: absolute;
	top: 320px;
	left: 15px;
	display: none;
	height: 250px;
	width: 16%;
    box-shadow: 2px 2px 6px #ccc;
    border-radius: 9px;
    background: #F2F3F7;
	overflow: auto;
}

#shop{ 
	position: absolute;
	top: 380px;
	left: 15px;
	display: none;
	height: 250px;
	width: 16%;padding-left: 8px;
    box-shadow: 2px 2px 6px #ccc;
    border-radius: 9px;
    background: #F2F3F7;
	overflow: auto;
}
#save{ 
	position: absolute;
	top: 435px;
	left: 15px;
	display: none;
	height: 300px;
	width: 16%;
	padding: 8px;
    box-shadow: 2px 2px 6px #ccc;
    border-radius: 9px;
    background: #F2F3F7;
	overflow: auto;
}
#set{ 
	position: absolute;
	top: 500px;
	left: 15px;
	display: none;
	height: 300;
	width: 16%;
	padding-left: 8px;
    box-shadow: 2px 2px 6px #ccc;
    border-radius: 9px;
    background: #F2F3F7;
}
/***********************HIDE N SHOW OF CONTENT-CENTER**********************************/
#reacts{
	position: fixed;
	top: 800px;
	left: 50%;
	display: none;
	height: 200px;
	width: 10%;
    border-radius: 9px;
    background-color: red;
}
#shared{
	position: fixed;
	top: 800px;
	left: 50%;
	display: none;
	height: 205px;
	width: 13%;
    border-radius: 9px;
    background-color: blue;
}
#information{
	position: fixed;
	top: 800px;
	left: 50%;
	display: none;
	height: 250px;
	width: 15%;
    border-radius: 9px;
    background-color: goldenrod;
}
/***********************HIDE N SHOW OF CONTENT-CENTER**********************************/

#buy{
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	height: 100%;
	width:100%;
	background: rgb(14, 14, 13, 0.6);
}
.buying{
	position: absolute;
	top:300px;
	left: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 32%;
	width: 30%;
	padding: 10px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 9px;
    background: #F2F3F7;
}
.buying div{
	width: 400px;
	height: 250px;
	box-shadow: 1px 1px 6px #ccc;
	border: 1px solid #000;
	border-radius: 10px;
}
.buying button{
	width: 30%;
	background-color: #ccc;
	border: 1px solid #000;
	padding: 10px;
	border-radius: 4px;
	letter-spacing: 5px;
}


